[tool.black]
line-length = 120
target-version = ['py39']
include = '\.py$'
exclude = '''
(
      \.git
    | \.venv
    | /__pycache__/
    | /data/
    | /docs/
    | /os/
    | /spec/
    | /build/
    | /dist/
)
'''
[tool.pylint.master]
ignore-paths = [
    "^build/.*$",
    "^dist/.*$",
]

[tool.pylint.basic]
good-names = ["i", "j", "k", "v", "ip"]

[tool.pylint.messages_control]
disable = ["missing-docstring"]

[tool.pylint.format]
max-line-length = 120
max-module-lines = 1000

[tool.pylint.similarities]
ignore-imports = true
min-similarity-lines = 5

[tool.isort]
profile = "black"
line_length = 120
